{% load staticfiles %}
<html>
  <head>
  	<script src="{% static "jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js-graph-it.js" %}"></script>
    <script type="text/javascript" src="{% static "script.js" %}"></script>
    <script type="text/javascript" src="{% static "tree_renderer.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "js-graph-it.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  </head>
  <body>
  	<div class="canvas" id="mainCanvas" style="width: 100%; height: 100%; border: 1px solid black;">
      <div id="skill_tree"></div>
    </div>
  </body>
</html> 

