<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="/">VMN project</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li {% if skills_page %}class="active"{% endif %}><a href="/skills">Skills</a></li>
			<li {% if questions_page %}class="active"{% endif %}><a href="/questions">Questions</a></li>
			<li {% if roadmap_page %}class="active"{% endif %}><a href="/roadmap">Roadmap</a></li>
		</ul>
	</div>
</nav>
