{% load staticfiles %}
<html>
<head>
	{% include "head.html" %}
</head>
<body>
{% include "navbar.html" with questions_page="true" %}
<div id="breadcrumbs" class="row">
	<ol class="breadcrumb">
		<li class="breadcrumb-part"><a href="/">Home</a></li>
		<li class="active breadcrumb-part">Questions</li>
	</ol>
</div>
<div class="row centered">
	<div class="col-md-8">
		<ul>
			{% for q in questions %}
			<li class="space-7">
				{{ q }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-4">
		<h2>Participants</h2>
		<ul id="peoplePills"class="nav nav-pills nav-stacked">
			<li><a id="studentVika" href="#">Вика</a></li>
			<li><a id="studentMarina" href="#">Марина</a></li>
			<li><a id="studentNatasha" href="#">Наташа</a></li>
		</ul>
	</div>
</div>
</body>
</html>