{% load staticfiles %}
<html>
<head>
	{% include "head.html" %}
	<script type="text/javascript" src="{% static "js/questions.js" %}"></script>
</head>
<body>
{% include "navbar.html" with questions_page="true" %}
<div id="breadcrumbs" class="row">
	<ol class="breadcrumb">
		<li class="breadcrumb-part"><a href="/">Home</a></li>
		<li class="active breadcrumb-part">Questions</li>
	</ol>
</div>
<div class="row centered">
	<div class="col-md-8">
        {% for m, milestone in milestones.items %}
        <h2>{{ milestone.date }} - {{ m }}</h2>
		<ul id="questions">
			{% for q in milestone.questions %}
			<li id="{{ q.id }}"class="space-7">
				{{ q.question }}
			</li>
			{% endfor %}
		</ul>
        </hr>
        {% endfor %}
	</div>
	<div class="col-md-4">
		{% include "students-sidebar.html" %}
	</div>
</div>
</body>
</html>