<h2>Participants</h2>
<ul id="peoplePills"class="nav nav-pills nav-stacked">
	<li><a id="studentVika" href="#"><span class="glyphicon glyphicon-user"></span><span style="padding-left: 10px">Вика</span></a></li>
	<li><a id="studentMarina" href="#"><span class="glyphicon glyphicon-user"></span><span style="padding-left: 10px">Марина</span></a></li>
	<li><a id="studentNatasha" href="#"><span class="glyphicon glyphicon-user"></span><span style="padding-left: 10px">Наташа</span></a></li>
</ul>
<div id="progress_bar" class="progress progress-striped active" style="display: none">
  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>