.breadcrumb-part {
	margin: 10px;
	margin-left: 25px;
}
.canvas {
    font-family: tahoma;
    position: absolute;
}
.connector {
	background-color: #FF9900;
}
#peoplePills {
	width: 300px;
}
#peoplePills li {
	margin: 30px;
}

.skill-block {
	position: absolute;
}